<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Cloud Computing</title>
</head>
<body>
    <header>
        <h1>KELOMPOK 8</h1>
        <p>21S1TK01</p>
    </header>
    <section id="biography">
    <table class="center">
        <tr>
            <th>Nama</th>
            <th>NPM</th>
            <th>Kelas</th>
        </tr>
        <tr>
            <td>Yoga Maulana Febriansyah</td>
            <td>21.83.0596</td>
            <td>21S1TK01</td>
        </tr>
        <tr>
            <td>Rakhaezza Nabella</td>
            <td>21.83.0598</td>
            <td>21S1TK01</td>
        </tr>
        <tr>
            <td>Haris Muhammad Fahri</td>
            <td>21.83.0592</td>
            <td>21S1TK01</td>
        </tr>
        <tr>
            <td>Eleazar Hendro Tri Putra</td>
            <td>21.83.0645</td>
            <td>21S1TK01</td>
        </tr>
    </table>
    </section>
</body>
</html>
